<h1>Listing ceos</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ceos.each do |ceo| %>
  <tr>
    <td><%= ceo.name %></td>
    <td><%= link_to 'Show', ceo %></td>
    <td><%= link_to 'Edit', edit_ceo_path(ceo) %></td>
    <td><%= link_to 'Destroy', ceo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ceo', new_ceo_path %>
