<p id="notice"><%= notice %></p>

<p>
  <b>Ammount:</b>
  <%= @income.ammount %>
</p>

<p>
  <b>Company:</b>
  <%= @income.company.name %>
</p>


<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', incomes_path %>
