<h1>Home</h1>
<%= link_to 'Companies', companies_path %>
<%= link_to 'Ceos', ceos_path %>
<%= link_to 'Incomes', incomes_path %>

<%= link_to 'About Us', pages_about_path %>
<%= link_to 'Pricing', pages_pricing_path %>